In [2]:
import pandas as pd

In [3]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [4]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1271413.0,1369765,1369765,1271413.0,1.369765e+06,1271413.0,1369765.0,1369765.0,1271413.0,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06
mean,1.676925,2021-01-17 01:48:33.377424,2021-01-17 02:02:28.078378,1.411508,4.631982e+00,1.035081,165.247154,161.495607,1.280521,1.209662e+01,9.705085e-01,4.930411e-01,1.918099e+00,2.477432e-01,2.969412e-01,1.747439e+01,2.116098e+00
min,1.0,2008-12-31 23:05:14,2008-12-31 23:07:22,0.0,0.000000e+00,1.0,1.0,1.0,1.0,-4.900000e+02,-5.500000e+00,-5.000000e-01,-1.000000e+02,-3.112000e+01,-3.000000e-01,-4.928000e+02,-2.500000e+00
25%,1.0,2021-01-09 13:42:51,2021-01-09 13:55:08,1.0,1.000000e+00,1.0,124.0,107.0,1.0,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.0,2021-01-16 20:10:33,2021-01-16 20:24:07,1.0,1.700000e+00,1.0,162.0,162.0,1.0,8.500000e+00,0.000000e+00,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.380000e+01,2.500000e+00
75%,2.0,2021-01-24 15:32:49,2021-01-24 15:44:59,1.0,3.020000e+00,1.0,236.0,236.0,2.0,1.350000e+01,2.500000e+00,5.000000e-01,2.750000e+00,0.000000e+00,3.000000e-01,1.912000e+01,2.500000e+00
max,2.0,2021-02-22 16:52:16,2021-02-22 16:56:15,8.0,2.631633e+05,99.0,265.0,265.0,4.0,6.960500e+03,8.250000e+00,5.000000e-01,1.140440e+03,8.117500e+02,3.000000e-01,7.661280e+03,3.000000e+00
std,0.467651,NaN,NaN,1.059833,3.939042e+02,0.599484,67.838494,72.108002,0.491692,1.291338e+01,1.231256e+00,7.632070e-02,2.597153e+00,1.672755e+00,4.222174e-02,1.469343e+01,9.287277e-01

In [7]:
len(df)

1369765

In [8]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               string
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [9]:
!uv add sqlalchemy psycopg2-binary

Resolved 121 packages in 0.78ms
Audited 13 packages in 0.32ms

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
# syntax explain:
# postgresql://<username>:<password>@<host>:<port>/<database_name>

In [24]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
# take the 0th row of df (i.e. just column names and dtypes)
# write them to the database as a table named 'yellow_taxi_data' using the engine connection
# drop the table if it already exists and recreates it
# end up with an empty table that matches the DataFrame schemas
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [26]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [27]:
!uv add tqdm

Resolved 122 packages in 0.64ms
Audited 14 packages in 0.23ms

In [28]:
from tqdm import tqdm

In [29]:
first = True

for df_chunk in tqdm(df_iter, desc="Inserting chunks"):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

Inserting chunks: 0it [00:00, ?it/s]

Table created

Inserting chunks: 1it [00:08,  8.40s/it]

Inserted: 100000

Inserting chunks: 2it [00:16,  8.46s/it]

Inserted: 100000

Inserting chunks: 3it [00:25,  8.33s/it]

Inserted: 100000

Inserting chunks: 4it [00:33,  8.42s/it]

Inserted: 100000

Inserting chunks: 5it [00:42,  8.58s/it]

Inserted: 100000

Inserting chunks: 6it [00:50,  8.43s/it]

Inserted: 100000

Inserting chunks: 7it [00:59,  8.46s/it]

Inserted: 100000

Inserting chunks: 8it [01:11,  9.78s/it]

Inserted: 100000

Inserting chunks: 9it [01:20,  9.37s/it]

Inserted: 100000

Inserting chunks: 10it [01:28,  9.00s/it]

Inserted: 100000

Inserting chunks: 11it [01:37,  9.09s/it]

Inserted: 100000

Inserting chunks: 12it [01:46,  8.88s/it]

Inserted: 100000

Inserting chunks: 13it [01:53,  8.57s/it]

Inserted: 100000

Inserting chunks: 14it [01:59,  8.50s/it]

Inserted: 69765